<html>
    <head>
        <title><%=title%></title>

    </head>
    <body>
        <form action="/file/upload" enctype="multipart/form-data" method="POST">
            <input type="file" name="filename" placeholder="filename">
            <input type="submit"  value="Upload">
        </form>
        <% for(f of files){%>
            <p>
                <a href="/file/open-file/<%=f._id%>"><%= f.filename %></a>
            </p>
        <% } %>
    </body>
    <script src="sorting.js"></script>
    <script src="search.js"></script>
</html>

