<html>
    <head>
        <title><%=title%></title>

        <link rel="stylesheet" href="/css/table.css">
    </head>
    <body>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
        <table id="myTable2">
            <thead>
                    <tr>
                        <%let k=0%>
                        <% for(i in rows){%>
                            <% for(j in rows[0]){%>
                                <th onclick="sortTable('<%=k%>')"><%=j%></th>
                                <%k+=1%>
                            <% } %>
                            <%break%>
                        <% } %>
                    </tr>
            </thead>
            <tbody>
                <% for(i in rows){%>
                    <%let key=i%>
                    <%let val=rows[i]%>
                    <tr>
                        <% for(j in val){%>
                            <%let sub_key = j%>
                            <%let sub_val = val[j]%>
                            <td><%=sub_val%></td>
                    
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        
        </table>
    </body>
        <script src="/javascript/sorting.js"></script>
        <script src="/javascript/search.js"></script>
</html>


